.highlight,.example{
  text-align:left;
  border:1px solid #eee;
  padding: 0 20px;
  box-shadow:2px 2px 3px #ddd;
  margin:20px;
  overflow:auto;
}

.highlight code,pre code{
  color:#34495e;
  background: transparent;
}

code{
  color: #B12B70;
  background: #f9f2f4;
}

.footer{
  margin-top: 100px;
  text-align:center;
  font-size: 12px;
}

blockquote {
  color: #999;
  border-left: 5px solid #5b8b8f;
  padding-left: 10px;   
}
