/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

.extra {
  color:#7f787d;
  text-decoration: none;
}

.highlight,.example{
  display:inline-block;
  text-align:left;
  border:1px solid #eee;
  padding: 20px;
  box-shadow:2px 2px 3px #ddd;
  vertical-align:top;
  margin:0 20px;
  max-width:400px;
  overflow-x:auto;
  width:400px;
}

.symble{
  display:inline-block;
  margin-top:100px;
  vertical-align: top;
}

.group .symble{
  margin:0;
  display:block;
  /* width:400px; */
  text-align:center;
}

.group{
  display:inline-block;
}

.lineno{
}

hr{
  margin: 20px 0;
  border:1px solid #ddd;
}

input{
    outline: none;
    padding: 5px;
    border:1px solid #ddd;
    transition: .5s;
}
input:focus{
    border: 1px solid rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 3px rgba(82, 168, 236, 0.6);
}

.btn{
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  outline: none;
  cursor: pointer;
  box-shadow: 3px 3px 3px #eee;
  border-radius: 5px;
}
.btn:hover{
  /* background: #eee; */
  box-shadow: 0px 0px 3px #eee;
}
.btn:active {
    box-shadow: inset 3px 3px 3px #eee;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.or{
  position: relative;
  width: 489px;
  height: 254px;
  margin-top: 25px;
}
.or:hover .highlight:last-child{
   -webkit-animation: myfirst 1s forwards; 
}
.or .highlight:last-child{
   -webkit-animation: mysecond 1s forwards; 
}
.or .highlight{
  position:absolute;
  top:0px;
  left:0px;
  height:200px;
  -webkit-transition: 1s;
}
.or .highlight:last-child{
  -webkit-transform: rotate(-6deg);
  z-index: -10;
}

.logo{
  color:#5b8b8f;
  font-size: 1.25em;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  word-spacing: -6px;
  margin: 50px 0;
  letter-spacing: 3px;
}
.logo span{
  display:inline-block;
  margin-bottom:10px;
  vertical-align:bottom;
}
.logo a{
  color:#5b8b8f;
  text-decoration:none;
}

.main .desc{
  font-size:1.2em;
  color:#949494;
}

.header nav a{
  margin:0 25px;
}

/***********
 *
 * why
 *
 * *******/
.why{
  width:1024px;
  margin:0 auto;
  text-align: left;
  min-height:500px;
  /* font-size: 15px; */
  color: #34495e;
  margin-bottom: 100px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site{
  padding: 50px 0;
}
.row{
  /* text-align: center; */
  padding:30px 20px;
}

//animation
@-webkit-keyframes bounce {
  0%,100% {
    -webkit-transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(300px);
  }

  60% {
    -webkit-transform: translateX(100px);
  }
} 
@-webkit-keyframes myfirst
{
  0%,100% {-webkit-transform: translateX(0);}
  100% {z-index:10; -webkit-transform: rotate(-6deg);-webkit-backface-visibility: hidden;}
  50% {-webkit-transform: translateX(300px) translateY(-10px) rotate(6deg);z-index:0}
}

@-webkit-keyframes mysecond
{
  0% {-webkit-transform: translateX(0);z-index:10}
  100% {z-index:-10; -webkit-transform: rotate(-6deg)}
  50% {-webkit-transform: translateX(300px) translateY(-10px) rotate(6deg);z-index:0}
}

