<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="api page,two-way binding,cmd,CMD,river,riverjs,jonathan,angularjs">
  <meta name="author" content="Jonathan,jonathan,zhang-ning">
  <meta name="keywords" content="two-way binding,cmd,CMD,river,riverjs,joanthan,angularjs">
  <title>Riverjs API</title>
  <link rel="icon" href="../assert/image/logo.png" type="image/x-icon" >
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="../css/syntax.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/example.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="../assert/river.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../assert/api.js" type="text/javascript" charset="utf-8"></script>
  <style>
  iframe{
    height:200px;
    margin-bottom:200px;
  }
  input{
    padding:5px;
    outline:none;
    border:1px solid #ddd;
  }
  </style>
</head>
<body>
<header class="row">
  <nav>
    <div class="logo">
      <a href="../">
        <img src="../assert/image/logo.png" alt="riverjs">
        <span> 
          iver.js
        </span>
      </a>
    </div>
    <span><a href="../guide">Guide</a></span>
    <span class="active"><a href="#">API Reference</a></span>
    <span ><a href="../examples">Examples</a></span>
    <span><a href="https://github.com/zhang-ning/RiverJS">Github</a></span>
  </nav>
</header>


<div class="row main">
  <section class="side-bar">
    <ul class="menu">
      <li>core
        <ul id="core">
          {% for post in site.tags['api.core'] %}
            {% if post.url == page.url %}
              <li class="selected"><a href="{{post.url | remove_first:'/api/' }}">{{ post.title }}</a></li>
            {% else %}
              <li><a href="{{post.url | remove_first:'/api/' }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li>grammer
        <ul>
          {% for post in site.tags['api.grammer'] %}
            {% if post.url == page.url %}
            <li class="selected"><a href="{{post.url | remove_first:'/api/' }}">{{ post.title }}</a></li>
            {% else %}
            <li><a href="{{post.url | remove_first:'/api/' }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% for post in site.tags['api'] %}
        {% if post.url == page.url %}
        <li class="selected"><a href="{{post.url | remove_first:'/api/' }}">{{ post.title }}</a></li>
        {% else %}
        <li><a href="{{post.url | remove_first:'/api/' }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="stage">
    {{ content }}
  </section>
</div>
</body>
</html>

<script>
 var active = document.querySelector('.selected')
 if(!active) document.querySelector('#core li').className = 'selected';
</script>
