<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="example page,two-way binding,cmd,CMD,river,riverjs,jonathan,angularjs">
  <meta name="author" content="Jonathan,jonathan,zhang-ning">
  <meta name="keywords" content="two-way binding,cmd,CMD,river,riverjs,joanthan,angularjs">
  <title>Riverjs Guide</title>
  <link rel="icon" href="../assert/image/logo.png" type="image/x-icon" >
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="../css/syntax.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/example.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="../assert/river.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../assert/app/controller/your.class.music.js" type="text/javascript" charset="utf-8"></script>
  <script src="../assert/app/controller/sample.inherit.js" type="text/javascript" charset="utf-8"></script>
  <script src="../assert/guide.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<header class="row">
  <nav>
    <div class="logo">
      <a href="../">
        <img src="../assert/image/logo.png" alt="riverjs">
        <span> 
          iver.js
        </span>
      </a>
    </div>
    <span><a class="active" href="#">Guide</a></span>
    <span><a href="../api">API Reference</a></span>
    <span ><a href="../examples">Examples</a></span>
    <span><a href="https://github.com/zhang-ning/RiverJS">Github</a></span>
  </nav>
</header>


<div class="row main">
  <section class="side-bar">
    <ul class="menu">
    {% assign guides = site.tags['guide'] | sort: 'date' %}
    {% for post in guides %}
      {% if post.url == page.url %}
        <li class="selected"><a href="{{post.url | remove_first:'/guide/' }}">{{ post.title }}</a></li>
      {% else %}
        <li><a href="{{post.url | remove_first:'/guide/' }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </section>
  <section class="stage">
    {{ content }}
  </section>
  <div class="footer">
      <hr>
      <p>
        Released under the <a href="http://opensource.org/licenses/MIT">MIT</a> License 
      </p>          
      <p>
        Copyright (c) 2014 <a href="mailto:hunter.dding@gmail.com">Jonathan Zhang</a>
      </p>
    </div>
</div>
</body>
</html>

<script>
 var active = document.querySelector('.selected')
 if(!active) document.querySelector('.menu li').className = 'selected';
</script>
